input {
    border-bottom: 1px solid #aaa;
    border-top: 0px;
    border-left: 0;
    border-right: 0;
    line-height: 24px;
}

input:focus, textarea:focus {
    outline: none;
}

#survey-form {
    width: 75%;
    margin: 0 auto;
    border: 1px solid #000;
    border-radius: 10px;
}

.center {
    text-align: center;
}


.survey-item {
    display: flex;
    flex-direction: row;
}
